<!DOCTYPE html>
<html lang="sv">
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome{% endblock %} | Game of 21 Cards</title>
        <link rel="icon" href="{{ asset('img/glider.svg') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('game') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('game') }}
        {% endblock %}
    </head>
    <body>
        <header>
            <nav class="navbar">
            <div class="container">
                <ul class="nav-links">
                    <li><a href="{{ path('game_start') }}" class="{% if 'game_start' in app.request.attributes.get('_route') %}active{% endif %}">Startsida</a></li>
                    <li><a href="{{ path('game_play') }}" class="{% if 'game_play' in app.request.attributes.get('_route') %}active{% endif %}">Spelplan</a></li>
                    <li><a href="{{ path('game_doc') }}" class="{% if 'game_doc' in app.request.attributes.get('_route') %}active{% endif %}">Dokumentation</a></li>
                </ul>
            </div>
            </nav>
        </header>
        
        <main>
            {% block body %}{% endblock %}
        </main>
    </body>
</html>
