<!DOCTYPE html>
<html lang="sv">
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pig Game</title>
        <link rel="icon" href="{{ asset('img/glider.svg') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('pig') }}
        {% endblock %}

    </head>
    <body>
        <h1>Roll dice hand</h1>

        <p>You rolled {{ num_dices }} dices. Here is the value of the dices.</p>
        
        <ul>
        {% for roll in diceRoll %}
            <li>{{ roll }}</li>
        {% endfor %}
        </ul>
        
        <p>Try to roll 
            <a href="{{ path('test_dicehand', {num: 5}) }}">5</a>
            or 
            <a href="{{ path('test_dicehand', {num: 10}) }}">10</a>
            dices.
        </p>
    </body>
</html>
